body {
    background-color: rgb(90, 165, 181);
    text-align:center;
    color: white;
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif
}
a {
    color:white
}
a:active {
    color:lightblue
}
